<div class="column is-one-third">
  <div class="box">
  <div class="media-content">

        <% if customer.image.attached? %>
          <%= image_tag url_for(customer.image), size: "150x150", class: "image is-128x128
" %>
        <% else %>
          <%= image_tag "default-image.png", size: "182x97", class: "image is-128x128
" %>
        <% end %>


        <div class="content">
          <p>
            <strong><%= customer.full_name %></strong>
            <br>
            <%= customer.phone_number %>
            <br>
            <%= customer.email %>
            <br>
            <%= customer.notes %>
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
