<div class="column is-one-third">
  <div class="card">
    <div class="card-image">
      <figure  class="image is-3by4">
        <% if customer.image.attached? %>
          <%= image_tag url_for(customer.image)%>
        <% else %>
          <%= image_tag "default-image.png"%>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p>
          <strong><%= customer.full_name %></strong>
          <br>
          <%= customer.phone_number %>
          <br>
          <%= customer.email %>
          <br>
          <%= customer.notes %>
        </p>
      </div>
    </div>
  </div>
</div>
